@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';


.CodeMirror {
  height: 340px !important;
  color: #000000!important;
  caret-color: white!important;
}

.CodeMirror-gutters {
  background: #fff !important;
  caret-color: white!important;

}

.CodeMirror-scroll {
  background: #fff!important;
  caret-color: white!important;

}